.video-container {
  position: relative;
  width: 220%;
  height: auto;
  overflow: hidden;
}

.video-item {
  width: 100%;
  height: 90vh;
  object-fit: cover; 
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    video {
      width: 100%;
      height: auto;
    }

    .video-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .video-item {
      width: 100%;
      height: 70vh;
      clip-path: inset(0 0 50% 0);
      transform: rotate(180deg);
      transform-origin: center center;
      margin: -202px 0 0 23px;
    }   
}
